body {
  background-image: url("gfu-cs-logo-gray-corner.png");
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 400%;
  position:center;
  background: white; 
  opacity: 90%;
}


h1 > a:hover {
  color:grey;
  font-size: 110%;
}

h2 {
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(16, 16, 75);
}

ol {
  color: rgb(16, 16, 75);
  list-style-type: square;
  margin: 0 auto;
}

li {
 font-size: 150%;
 font-family: 'Courier New', Courier, monospace;

  
}

li:hover > a {
  color:white;
}

a {

  text-decoration: none;
  color:rgb(16, 16, 75);
}